<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Signup | E-Pharma</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>
                Username
                <input type="text" class="form-control" name="username" />
              </label>
            </div>
            <div class="form-group col-md-6">
              <label for="patientPassword">Password</label>
              <input
                name="patient_password"
                type="password"
                class="form-control"
                minlength="7"
                maxlength="200"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Name</label>
              <input type="text" class="form-control" name="name" />
            </div>
            <div class="form-group col-md-6">
              <label>Contact</label>
              <input type="text" class="form-control" name="contact" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Address</label>
              <input type="text" class="form-control" name="address" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="patientGender">Gender</label>
              <select
                name="patient_gender"
                id="patientGender"
                class="form-control"
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="patientAge">Age</label>
              <input
                name="patient_age"
                type="number"
                class="form-control"
                id="patientAge"
                min="1"
                required
              />
            </div>
            <div class="form-group col-md-4">
              <label for="patientInsuranaceId">Insurance ID</label>
              <input
                name="patient_insurance_id"
                type="text"
                class="form-control"
                maxlength="20"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="patientDoctor">Doctor Name</label>
              <select
                name="patient_doctor"
                id="patientDoctor"
                class="form-control"
              >
                <% rows2.forEach(function(doctor){ %>
                <option value="<%= doctor.doc_id %>">
                  <%= doctor.doc_name %> (<%= doctor.doc_id %>)
                </option>
                <% }); %>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-warning btn-lg">
                Signup
              </button>
            </div>
          </div>
        </form>

        <hr />

        <p>Already have an account? <a href="/login">Login</a></p>
        <!-- <p>Or go <a href="/">home</a>.</p> -->
      </div>
    </div>
  </body>
</html>
